// Local variables:
catalogueCardWidth = 250px



.section
	padding-bottom 100px



.hero
	background-color accent
	height 100vh - headerHeight
	line-height @height
	margin-bottom 100px
	position relative

.hero__overlay
.hero__content
	position absolute
	top 0
	right 0
	bottom 0
	left 0

.hero__content
	p
		margin 0
		font-size 4.5rem

.hero__overlay
	background rgba( black, 0.5 )

#hero-slide-1
	background url( imgPath + "hero-01.jpg" ) center no-repeat
	background-size 1370px

#hero-slide-2
	background url( imgPath + "hero-02.jpg" ) center no-repeat
	background-size 1370px

#hero-slide-3
	background url( imgPath + "hero-03.jpg" ) center no-repeat
	background-size 1370px

#hero-slide-4
	background url( imgPath + "hero-04.jpg" ) bottom no-repeat
	background-size 1370px



.feature__card
	padding 20px

	& > div
		min-height 200px



.catalogue__card
	width catalogueCardWidth
	height @width
	margin-left auto
	margin-right auto
	background-color accent
	position relative
	overflow hidden
	transition all 0.3s

	&:hover .catalogue__text
		opacity 1
		bottom 0

.catalogue__text
	width 100%
	color white
	height 50px
	line-height @height
	background rgba( black, 0.5 )
	position absolute
	opacity 0
	bottom -40px
	left 0
	transition all 0.3s

#catalogue-1
	background url( imgPath + "catalogue/1-1.jpg" ) center no-repeat
	background-size 350px

	&:hover
		background-size ( @background-size + 50px )

#catalogue-2
	background url( imgPath + "catalogue/2-1.jpg" ) center no-repeat
	background-size 350px

	&:hover
		background-size ( @background-size + 50px )

#catalogue-3
	background url( imgPath + "catalogue/3-1.jpg" ) center no-repeat
	background-size 350px

	&:hover
		background-size ( @background-size + 50px )

#catalogue-4
	background url( imgPath + "catalogue/4-1.jpg" ) center no-repeat
	background-size 380px

	&:hover
		background-size ( @background-size + 50px )