// Local variables:
notifSize         = 250px
notifFooterHeight = 45px


.notif__bell
	position relative

.notif__bell--active
	background rgba( black, 0.1 )

.notif__indicator
	circle( 7px )
	background yellow
	position absolute
	top 17px
	right 22px

.notif__drawer
	width notifSize
	height @width
	background rgba( dashboardAccent, 0.9 )
	position absolute
	top dashboardHeaderHeight
	right 0

.notif__drawer__main
	height notifSize - notifFooterHeight

	&::-webkit-scrollbar
		display none

	ul
		margin 0
		padding 0
		list-style none
		line-height normal

		li
			border-bottom 1px solid rgba( white, 0.1 )

			&:last-child
				border-bottom 0

		a.notif
			padding 10px
			line-height normal

		a.notif--read:before
		a.notif--unread:before
			font-family fa
			content "\f111"
			margin-right 5px
			font-size 0.5rem
			vertical-align middle

		a.notif--read:before
			color transparent

		a.notif--unread:before
			color yellow

.notif__drawer__footer
	height notifFooterHeight
	line-height @height
	border-top 1px solid rgba( white, 0.3 )