// Local variables:
productImgHeight = 450px
productCardThumbHeight = 150px
productCardBorderWidth = 2px


.content--product
	padding-left 0
	padding-bottom 60px

.product-card
	padding 0

.product-card__inner
	border-top productCardBorderWidth solid transparent
	border-left @border-top
	border-right @border-top
	border-bottom 0

.product-card__header
	height productCardThumbHeight
	background steel
	position relative
	overflow hidden

.product-card__content
	padding 10px

.product-card__controls
	padding 15px 0

.product__img
	overflow hidden
	position relative
	height productImgHeight

table.product__specs
	thead
		background lighten( steel, 70% )

	tr
		padding 7px

		&:nth-child( even )
			background darken( white, 3% )