// Local variables:
spacing         = 15px
subProjIcoSize  = 120px
floorPlanHeight = 320px


.sub-proj__wrapper
	padding spacing spacing 0 0

	&:nth-child( 3n + 3 )
		padding-right 0

.sub-proj
	border 0
	margin-top ( subProjIcoSize / 2 ) - spacing
	padding-top @margin-top + ( 2 * spacing )
	position relative

.sub-proj__ico
	circle( subProjIcoSize )
	line-height @height
	background darken( white, 0.5% )
	border 10px solid darken( white, 2% )
	position absolute
	top 0
	left 50%
	margin-left -1 * ( subProjIcoSize / 2 )
	margin-top @margin-left + spacing

	span
		color lighten( black, 50% )

.sub-proj__controls
	width 100%
	padding ( spacing / 2 )
	position absolute
	top 0
	left 0

.floor-plan
	height floorPlanHeight
	line-height @height
	position relative

.floor-plan__img-wrapper
	width 100%
	height floorPlanHeight
	overflow hidden
	position relative

.floor-plan__img-controls
	width 100%
	position absolute
	top -28px
	right 0
	line-height: normal