.content
	padding-top headerHeight
	min-height 500px

.content--dashboard
	min-height 700px
	padding-top dashboardHeaderHeight
	padding-left dashboardSidebarWidth

.container
	max-width 72rem
	margin-left auto
	margin-right auto

.container--small
	max-width 50rem