.footer
	background lighten( accent, 95% )
	border-top 5px solid lighten( accent, 90% )
	padding 20px

.footer--dashboard
	margin-top 60px
	padding 20px

.footer--dashboard--sidebar
	margin-left dashboardSidebarWidth