.header
	width 100%
	height headerHeight
	line-height @height
	background rgba( white, 0.9 )
	padding 0 10px
	position fixed
	top 0
	left 0
	z-index 50

.header--dashboard
	height dashboardHeaderHeight
	line-height @height
	background dashboardAccent
	padding 0

	a
		padding 0 20px
		display inline-block

		&:hover
			background rgba( black, 0.1 )