// Local variables:
padValue = 15px


.sidebar
	width sidebarWidth
	background lighten( black, 15% )
	position fixed
	top 0
	left -1 * sidebarWidth
	bottom 0
	z-index 100

	hr
		margin 5px padValue

.sidebar__overlay
	width 100%
	height 100vh
	background rgba( black, 0.4 )
	position fixed
	top 0
	left 0
	z-index 99

.sidebar--dashboard
	width dashboardSidebarWidth
	background lighten( dashboardAccent, 95% )
	border-right 1px solid lighten( dashboardAccent, 80% )
	margin-top dashboardHeaderHeight
	padding-top 20px
	left 0

.pad
	padding-left padValue
	padding-right @padding-left

ul.sidebar__nav
	margin 0
	padding 0
	list-style none

	a
		padding padValue

		&:hover
			background rgba( white, 0.1 )