<!--(bake-start _if="isJSP")-->
<!-- Put JSP headers like tag libs here... -->
<!--(bake-end)-->
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- All the meta tags -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="link-prefix" content="{{linkPrefix}}">
	<meta name="_csrf" content="${_csrf.token}">

	<!-- Page title -->
	<title>About | HomeArte</title>

	<!-- Import any and all stylesheets here -->
	<link rel="stylesheet" href="{{assets}}/css/lib/font-awesome.min.css">
	<!-- build:css {{assets}}/css/style.min.css -->
	<link rel="stylesheet" href="{{assets}}/css/build.css">
	<!-- endbuild -->
	<!-- NOTE: Do not put script tags here! -->
</head>
<body>

	<!-- The main page content is encapsulated in this div -->
	<div class="page">
		<!-- Page header -->
		<!--(bake partials/header.tpl.html)-->

		<!-- Page content -->
		<div class="content">
			<div class="container container--small">
				<h1 class="bigger">About</h1>
				<p class="big">
					Looking for that perfect solution to design your dream home?
					<br />
					<br />
					It's become a difficult task to move from one shop to another trying to find the right home gear? We, at HomeArte, understand this hassle. The team put in a lot of thought to get technology together with the right design sense to give you a hassle free and extremely convenient home building experience.
					<br />
					<br />
					Turning your dreams into reality, we wanted to make the process of designing a house as fulfilling as actually living in it. Every thought put into building HomeArte was to address all the pain points you as a customer face while building that perfect home. Customising your needs with superior quality, our only goal was to translate your imaginations of a perfect home into an actual sketch leaving you with an experience that you would remember.
				</p>
			</div><!-- .container -->
		</div><!-- .content -->

		<!-- Page footer -->
		<!--(bake partials/footer.tpl.html)-->
	</div>

	<!-- Page sidebar -->
	<!--(bake partials/sidebar.tpl.html)-->

	<!-- Import any and all scripts here -->
	<!-- build:js {{assets}}/js/dist/about.min.js -->
	<script src="{{assets}}/js/lib/jquery.min.js"></script>
	<script src="{{assets}}/js/validators/email.js"></script>
	<script src="{{assets}}/js/common/methods.js"></script>
	<script src="{{assets}}/js/common/setup.js"></script>
	<script src="{{assets}}/js/common/sidebar.js"></script>
	<script src="{{assets}}/js/common/footer.js"></script>
	<!-- endbuild -->
</body>
</html>

<!-- @author Navdeep -->