<!--(bake-start _if="isJSP")-->
<%@ taglib uri="http://www.springframework.org/tags/form" prefix="form" %>
<!--(bake-end)-->
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- All the meta tags -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="link-prefix" content="{{linkPrefix}}">
	<meta name="_csrf" content="${_csrf.token}">

	<!-- Page title -->
	<title>Contact Us | HomeArte</title>

	<!-- Import any and all stylesheets here -->
	<link rel="stylesheet" href="{{assets}}/css/lib/font-awesome.min.css">
	<!-- build:css {{assets}}/css/style.min.css -->
	<link rel="stylesheet" href="{{assets}}/css/build.css">
	<!-- endbuild -->
	<!-- NOTE: Do not put script tags here! -->
</head>
<body>

	<!-- The main page content is encapsulated in this div -->
	<div class="page">
		<!-- Page header -->
		<!--(bake partials/header.tpl.html)-->

		<!-- Page content -->
		<div class="content section">
			<div class="hero" style="line-height: 1">
				<div id="hero-slide-3" class="carousel__slide">
					<div class="hero__overlay"></div>
					<div class="hero__content" style="padding: 100px 40px 0 40px">
						<span class="big white upper underline">Contact us</span>
						<br />
						<br />
						<span class="humongous white" style="line-height: 1.2">
							We'd love to hear from you...
						</span>
						<br />
						<br />
						<span class="biggest white">
							Scroll down to know how.
						</span>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="grid">
					<div class="col col-4">
						<h2 class="big center">Fill out the form below...</h2>
						<form:form class="form js-contact-form" method="POST" action="{{linkPrefix}}/contact/sub" commandName="cdto" style="margin-top: 0; max-width: none">
							<!-- Input field for name -->
							<div class="grid">
								<div class="col col-2 no-gutter">
									<input type="text" name="nameIco" class="block txt center" disabled="disabled" placeholder="&#xf044;">
								</div><!-- .col -->
								<div class="col col-10 no-gutter">
									<!--(bake-start _if="isJSP")-->
									<form:input type="text" path="name" class="block txt" spellcheck="false" placeholder="Your name" />
									<!--(bake-end)-->
									<!--(bake-start _if="!isJSP")-->
									<input type="text" name="name" class="block txt" spellcheck="false" placeholder="Your name">
									<!--(bake-end)-->
								</div><!-- .col -->
							</div><!-- .grid -->
							<!-- Input field for email address -->
							<div class="grid">
								<div class="col col-2 no-gutter">
									<input type="text" name="emailIco" class="block txt center" disabled="disabled" placeholder="&#xf003;">
								</div><!-- .col -->
								<div class="col col-10 no-gutter">
									<!--(bake-start _if="isJSP")-->
									<form:input type="text" path="email" class="block txt" spellcheck="false" placeholder="Your email address" />
									<!--(bake-end)-->
									<!--(bake-start _if="!isJSP")-->
									<input type="text" name="email" class="block txt" spellcheck="false" placeholder="Your email address">
									<!--(bake-end)-->
								</div><!-- .col -->
							</div><!-- .grid -->
							<!-- Input field for subject -->
							<div class="grid">
								<div class="col col-2 no-gutter">
									<input type="text" name="subjectIco" class="block txt center" disabled="disabled" placeholder="&#xf0f6;">
								</div><!-- .col -->
								<div class="col col-10 no-gutter">
									<!--(bake-start _if="isJSP")-->
									<form:input type="text" path="subject" class="block txt" spellcheck="false" placeholder="Subject" />
									<!--(bake-end)-->
									<!--(bake-start _if="!isJSP")-->
									<input type="text" name="subject" class="block txt" spellcheck="false" placeholder="Subject">
									<!--(bake-end)-->
								</div><!-- .col -->
							</div><!-- .grid -->
							<!-- Input text area for message -->
							<div class="grid">
								<div class="col col-12 no-gutter">
									<!--(bake-start _if="isJSP")-->
									<form:textarea path="query" cols="30" rows="10" class="block txt txt-area" placeholder="Type your query here..."></form:textarea>
									<!--(bake-end)-->
									<!--(bake-start _if="!isJSP")-->
									<textarea name="query" cols="30" rows="10" class="block txt txt-area" placeholder="Type your message here..."></textarea>
									<!--(bake-end)-->
								</div><!-- .col -->
							</div><!-- .grid -->
							<!-- Paragraph to show form validation messages -->
							<!--(bake-start _if="isJSP")-->
							<p class="small js-notif">${cdto.message}</p>
							<!--(bake-end)-->
							<!--(bake-start _if="!isJSP")-->
							<p class="small js-notif"></p>
							<!--(bake-end)-->
							<!-- Button to submit the form -->
							<button class="block btn btn--large">Send</button>
						</form:form><!-- .form -->
					</div><!-- .col -->
					<div class="col col-3"></div><!-- .col -->
					<div class="col col-5">
						<h2 class="big upper bold">Head office</h2>
						<p class="big">C 15 Alok Nagar</p>
						<p class="big">Near Jaipur House</p>
						<p class="big">Agra - 282010</p>
						<p class="big">Phone: <a href="tel:+91-9997006076">+91-9997006076</a></p>
						<br />
						<h2 class="big upper bold">Email us</h2>
						<p class="big">
							For any quries, write to <a href="mailto:info@homearte.in">info@homearte.in</a>
						</p>
					</div><!-- .col -->
				</div><!-- .grid -->
			</div><!-- .container -->
		</div><!-- .content -->

		<!-- Page footer -->
		<!--(bake partials/footer.tpl.html)-->
	</div>

	<!-- Page sidebar -->
	<!--(bake partials/sidebar.tpl.html)-->

	<!-- Import any and all scripts here -->
	<!-- build:js {{assets}}/js/dist/contact-us.min.js -->
	<script src="{{assets}}/js/lib/jquery.min.js"></script>
	<script src="{{assets}}/js/validators/email.js"></script>
	<script src="{{assets}}/js/common/methods.js"></script>
	<script src="{{assets}}/js/common/setup.js"></script>
	<script src="{{assets}}/js/common/sidebar.js"></script>
	<script src="{{assets}}/js/common/footer.js"></script>
	<script src="{{assets}}/js/pages/contact.js"></script>
	<!-- endbuild -->
</body>
</html>

<!-- @author Navdeep -->