<!--(bake-start _if="isJSP")-->
<%@ taglib uri="http://www.springframework.org/tags/form" prefix="form" %>
<!--(bake-end)-->
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- All the meta tags -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="link-prefix" content="{{linkPrefix}}">
	<meta name="_csrf" content="${_csrf.token}">

	<!-- Page title -->
	<title>Create New Project | HomeArte</title>

	<!-- Import any and all stylesheets here -->
	<link rel="stylesheet" href="{{assets}}/css/lib/font-awesome.min.css">
	<!-- build:css {{assets}}/css/style.min.css -->
	<link rel="stylesheet" href="{{assets}}/css/build.css">
	<!-- endbuild -->
	<!-- NOTE: Do not put script tags here! -->
</head>
<body>

	<!-- The main page content is encapsulated in this div -->
	<div class="page">
		<!-- Page header -->
		<!--(bake partials/dashboard-header.tpl.html)-->

		<!-- Page content -->
		<div class="content content--dashboard">
			<form:form class="form js-creat-proj-form" method="POST" action="{{linkPrefix}}/dashboard/project/sub" commandName="cpdto">
				<!-- Input field for project name -->
				<div class="grid">
					<div class="col col-2 no-gutter">
						<input type="text" name="projectNameIco" class="block txt center" disabled="disabled" placeholder="&#xf0f6;">
					</div><!-- .col -->
					<div class="col col-10 no-gutter">
						<!--(bake-start _if="isJSP")-->
						<form:input type="text" path="projectName" class="block txt" spellcheck="false" placeholder="Project name" />
						<!--(bake-end)-->
						<!--(bake-start _if="!isJSP")-->
						<input type="text" name="projectName" class="block txt" spellcheck="false" placeholder="Project name">
						<!--(bake-end)-->
					</div><!-- .col -->
				</div><!-- .grid -->
				<!-- Input text area for description -->
				<div class="grid">
					<div class="col col-12 no-gutter">
						<!--(bake-start _if="isJSP")-->
						<form:textarea path="projectDescription" cols="30" rows="10" class="block txt txt-area" placeholder="Project description..."></form:textarea>
						<!--(bake-end)-->
						<!--(bake-start _if="!isJSP")-->
						<textarea name="projectDescription" cols="30" rows="10" class="block txt txt-area" placeholder="Project description..."></textarea>
						<!--(bake-end)-->
					</div><!-- .col -->
				</div><!-- .grid -->
				<!-- Paragraph to show form validation messages -->
				<!--(bake-start _if="isJSP")-->
				<p class="small error js-notif">${cpdto.error}</p>
				<!--(bake-end)-->
				<!--(bake-start _if="!isJSP")-->
				<p class="small error js-notif"></p>
				<!--(bake-end)-->
				<!-- Button to submit the form -->
				<button class="block btn btn--large">Save</button>
			</form:form><!-- .form -->
		</div><!-- .content -->

		<!-- Page sidebar -->
		<!--(bake partials/dashboard-footer.tpl.html)-->
	</div>

	<!-- Page sidebar -->
	<!--(bake partials/dashboard-sidebar.tpl.html)-->

	<!-- Import any and all scripts here -->
	<!-- build:js {{assets}}/js/dist/create-project.min.js -->
	<script src="{{assets}}/js/lib/jquery.min.js"></script>
	<script src="{{assets}}/js/common/methods.js"></script>
	<script src="{{assets}}/js/common/setup.js"></script>
	<script src="{{assets}}/js/common/sidebar.js"></script>
	<script src="{{assets}}/js/utils/date-utils.js"></script>
	<script src="{{assets}}/js/modules/notifications.js"></script>
	<script src="{{assets}}/js/pages/create-proj.js"></script>
	<!-- endbuild -->
	<script>
		// Set the current date:
		DateUtils.setCurrDate( document.getElementById( "today" ) );
	</script>
</body>
</html>

<!-- @author Navdeep -->