<!--(bake-start _if="isJSP")-->
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<!--(bake-end)-->
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- All the meta tags -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="link-prefix" content="{{linkPrefix}}">
	<meta name="_csrf" content="${_csrf.token}">
	<meta name="builder-id" content="${ddto.builderId}">

	<!-- Page title -->
	<title>Builder Dashboard | HomeArte</title>

	<!-- Import any and all stylesheets here -->
	<link rel="stylesheet" href="{{assets}}/css/lib/font-awesome.min.css">
	<!-- build:css {{assets}}/css/style.min.css -->
	<link rel="stylesheet" href="{{assets}}/css/build.css">
	<!-- endbuild -->
	<!-- NOTE: Do not put script tags here! -->
</head>
<body>

	<!-- The main page content is encapsulated in this div -->
	<div class="page">
		<!-- Page header -->
		<!--(bake partials/dashboard-header.tpl.html)-->

		<!-- Page content -->
		<div class="content content--dashboard">
			<div class="grid">
				<div class="col col-12">
					<div class="grid">
						<div class="col col-9 no-gutter">
							<form class="form no-margin js-proj-query" style="max-width: none; margin-right: 20px">
								<input type="text" id="projQuery" class="block txt txt--small" placeholder="&#xf002; Search for projects...">
							</form>
						</div><!-- .col -->
						<div class="col col-3 no-gutter align-right">
							<a href="{{linkPrefix}}/dashboard/project/create" class="btn block center no-states">+ Create a new project</a>
						</div><!-- .col -->
					</div><!-- .grid -->
					<br />
					<div id="projs"></div>
					<p id="records-loader" class="center" style="display: none">Loading...</p>
					<p id="records-fetched" class="center" style="display: none">No more projects to get!</p>
				</div><!-- .col -->
			</div><!-- .grid -->
		</div><!-- .content -->

		<!-- Page sidebar -->
		<!--(bake partials/dashboard-footer.tpl.html)-->
	</div>

	<!-- Page sidebar -->
	<!--(bake partials/dashboard-sidebar.tpl.html)-->

	<!-- Import any and all scripts here -->
	<!-- build:js {{assets}}/js/dist/dashboard.min.js -->
	<script src="{{assets}}/js/lib/jquery.min.js"></script>
	<script src="{{assets}}/js/lib/handlebars.runtime.min.js"></script>
	<script src="{{assets}}/js/common/methods.js"></script>
	<script src="{{assets}}/js/common/setup.js"></script>
	<script src="{{assets}}/js/common/sidebar.js"></script>
	<script src="{{assets}}/js/utils/date-utils.js"></script>
	<script src="{{assets}}/js/utils/template-utils.js"></script>
	<script src="{{assets}}/js/build/hbs-templates.js"></script>
	<script src="{{assets}}/js/modules/notifications.js"></script>
	<script src="{{assets}}/js/modules/modal.js"></script>
	<script src="{{assets}}/js/pages/dashboard.js"></script>
	<!-- endbuild -->
	<script>
		// Set the current date:
		DateUtils.setCurrDate( document.getElementById( "today" ) );
	</script>
</body>
</html>

<!-- @author Navdeep -->