<!--(bake-start _if="isJSP")-->
<%@ taglib uri="http://www.springframework.org/tags/form" prefix="form" %>
<!--(bake-end)-->
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- All the meta tags -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="link-prefix" content="{{linkPrefix}}">
	<meta name="_csrf" content="${_csrf.token}">

	<!-- Page title -->
	<title>Recover password | HomeArte</title>

	<!-- Import any and all stylesheets here -->
	<link rel="stylesheet" href="{{assets}}/css/lib/font-awesome.min.css">
	<!-- build:css {{assets}}/css/style.min.css -->
	<link rel="stylesheet" href="{{assets}}/css/build.css">
	<!-- endbuild -->
	<!-- NOTE: Do not put script tags here! -->
</head>
<body>

	<!-- The main page content is encapsulated in this div -->
	<div class="page">
		<!-- Page header -->
		<!--(bake partials/header.tpl.html)-->

		<!-- Page content -->
		<div class="content section">
			<form:form class="form js-forgot-pwd" method="POST" action="{{linkPrefix}}/fpwd/sub" commandName="fdto">
				<!-- Input field for username / email address -->
				<div class="grid">
					<div class="col col-2 no-gutter">
						<input type="text" name="emailIco" class="block txt center" disabled="disabled" placeholder="&#xf003;">
					</div><!-- .col -->
					<div class="col col-10 no-gutter">
						<!--(bake-start _if="isJSP")-->
						<form:input type="text" path="email" class="block txt" spellcheck="false" placeholder="Email address" />
						<!--(bake-end)-->
						<!--(bake-start _if="!isJSP")-->
						<input type="text" name="email" class="block txt" spellcheck="false" placeholder="Email address">
						<!--(bake-end)-->
					</div><!-- .col -->
				</div><!-- .grid -->
				<!-- Paragraph to show form validation messages -->
				<!--(bake-start _if="isJSP")-->
				<p class="small error js-notif">${fdto.error}</p>
				<p class="small success js-notif">${fdto.message}</p>
				<!--(bake-end)-->
				<!--(bake-start _if="!isJSP")-->
				<p class="small error js-notif"></p>
				<!--(bake-end)-->
				<!-- Button to submit the form -->
				<button class="block btn btn--large">Recover password</button>
				<!-- Login signup link -->
				<p class="center small">
					<a href="{{linkPrefix}}/ulogin">Login</a> or <a href="{{linkPrefix}}/signup">Signup</a>
				</p>
			</form:form><!-- .form -->
		</div><!-- .content -->

		<!-- Page footer -->
		<!--(bake partials/footer.tpl.html)-->
	</div>

	<!-- Page sidebar -->
	<!--(bake partials/sidebar.tpl.html)-->

	<!-- Import any and all scripts here -->
	<!-- build:js {{assets}}/js/dist/forgot-pwd.min.js -->
	<script src="{{assets}}/js/lib/jquery.min.js"></script>
	<script src="{{assets}}/js/validators/email.js"></script>
	<script src="{{assets}}/js/common/methods.js"></script>
	<script src="{{assets}}/js/common/setup.js"></script>
	<script src="{{assets}}/js/common/sidebar.js"></script>
	<script src="{{assets}}/js/common/footer.js"></script>
	<script src="{{assets}}/js/pages/forgot-pwd.js"></script>
	<!-- endbuild -->
</body>
</html>

<!-- @author Navdeep -->