<!--(bake-start _if="isJSP")-->
<!-- Put JSP headers like tag libs here... -->
<!--(bake-end)-->
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- All the meta tags -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="link-prefix" content="{{linkPrefix}}">
	<meta name="_csrf" content="${_csrf.token}">

	<!-- Page title -->
	<title>HomeArte</title>

	<!-- Import any and all stylesheets here -->
	<link rel="stylesheet" href="{{assets}}/css/lib/font-awesome.min.css">
	<link rel="stylesheet" href="{{assets}}/css/lib/swipebox.min.css">
	<!-- build:css {{assets}}/css/style.min.css -->
	<link rel="stylesheet" href="{{assets}}/css/build.css">
	<!-- endbuild -->
	<!-- NOTE: Do not put script tags here! -->
</head>
<body>

	<!-- The main page content is encapsulated in this div -->
	<div class="page">
		<!-- Page header -->
		<!--(bake partials/header.tpl.html)-->

		<!-- Page content -->
		<div class="content">
			<div class="hero carousel">
				<ul data-slideshow="true">
					<li id="hero-slide-1" class="carousel__slide carousel__slide--active">
						<div class="hero__overlay"></div>
						<div class="hero__content">
							<p class="white center print-clearly">
								Make your dream kitchen a reality
							</p>
						</div><!-- .hero__content -->
					</li><!-- .carousel__slide -->
					<li id="hero-slide-2" class="carousel__slide">
						<div class="hero__overlay"></div>
						<div class="hero__content">
							<p class="white center print-clearly">
								Select from exquisite designs
							</p>
						</div><!-- .hero__content -->
					</li><!-- .carousel__slide -->
					<li id="hero-slide-3" class="carousel__slide">
						<div class="hero__overlay"></div>
						<div class="hero__content">
							<p class="white center print-clearly">
								Hand picked by professionals
							</p>
						</div><!-- .hero__content -->
					</li><!-- .carousel__slide -->
					<li id="hero-slide-4" class="carousel__slide">
						<div class="hero__overlay"></div>
						<div class="hero__content">
							<p class="white center print-clearly">
								Customize your selected design
							</p>
						</div><!-- .hero__content -->
					</li><!-- .carousel__slide -->
				</ul>

				<button class="carousel__nav carousel__nav--left" tabindex="-1">
					<span class="fa fa-angle-left fa-fw"></span>
				</button>
				<button class="carousel__nav carousel__nav--right" tabindex="-1">
					<span class="fa fa-angle-right fa-fw"></span>
				</button>
			</div><!-- .hero.carousel -->

			<div class="section">
				<div class="container">
					<h1 class="biggest center print-clearly">Features</h1>
					<div class="grid center">
						<div class="col col-4 no-gutter">
							<div class="feature__card">
								<span class="fa fa-pencil-square-o fa-fw fa-5x"></span>
								<p class="bigger">Designed by Experts</p>
								<p>Professional designers work closely with you to create your personalised kitchen.</p>
							</div><!-- .feature__card -->
						</div><!-- .col -->
						<div class="col col-4 no-gutter">
							<div class="feature__card">
								<span class="fa fa-magic fa-fw fa-5x"></span>
								<p class="bigger">Customize</p>
								<p>Customize your selected design to suit your taste and budget.</p>
							</div><!-- .feature__card -->
						</div><!-- .col -->
						<div class="col col-4 no-gutter">
							<div class="feature__card">
								<span class="fa fa-diamond fa-fw fa-5x"></span>
								<p class="bigger">Premium Quality</p>
								<p>State-of-the-art manufacturing process.</p>
							</div><!-- .feature__card -->
						</div><!-- .col -->
					</div><!-- .grid -->
					<div class="grid center">
						<div class="col col-4 no-gutter">
							<div class="feature__card">
								<span class="fa fa-truck fa-fw fa-5x"></span>
								<p class="bigger">30-day Delivery</p>
								<p>30 day deleivery guaranteed.</p>
							</div><!-- .feature__card -->
						</div><!-- .col -->
						<div class="col col-4 no-gutter">
							<div class="feature__card">
								<span class="fa fa-wrench fa-fw fa-5x"></span>
								<p class="bigger">Hassle-free Installation</p>
								<p>Schedule kitchen installation as per your convenience.</p>
							</div><!-- .feature__card -->
						</div><!-- .col -->
						<div class="col col-4 no-gutter">
							<div class="feature__card">
								<span class="fa fa-smile-o fa-fw fa-5x"></span>
								<p class="bigger">After-Sales Services</p>
								<p>A team of specialised agents to meet all your after-sales servicing requirements.</p>
							</div><!-- .feature__card -->
						</div><!-- .col -->
					</div><!-- .grid -->
				</div><!-- .container -->
			</div><!-- .section #features -->

			<div class="section">
				<div class="container">
					<h1 class="biggest center print-clearly">Our catalogue sneak peek</h1>
					<div class="grid center">
						<div class="col col-3">
							<a href="#" id="catalogue-1" class="catalogue__card block" data-imgs='[{"href":"{{assets}}/img/catalogue/1-1.jpg"},{"href":"{{assets}}/img/catalogue/1-2.jpg"},{"href":"{{assets}}/img/catalogue/1-3.jpg"},{"href":"{{assets}}/img/catalogue/1-4.jpg"}]' tabindex="-1">
								<div class="catalogue__text big">Mediterranean Blue</div>
							</a><!-- .catalogue__card -->
						</div><!-- .col -->
						<div class="col col-3">
							<a href="#" id="catalogue-2" class="catalogue__card block" data-imgs='[{"href":"{{assets}}/img/catalogue/2-1.jpg"},{"href":"{{assets}}/img/catalogue/2-2.jpg"},{"href":"{{assets}}/img/catalogue/2-3.jpg"},{"href":"{{assets}}/img/catalogue/2-4.jpg"}]' tabindex="-1">
								<div class="catalogue__text big">Modern Touch</div>
							</a><!-- .catalogue__card -->
						</div><!-- .col -->
						<div class="col col-3">
							<a href="#" id="catalogue-3" class="catalogue__card block" data-imgs='[{"href":"{{assets}}/img/catalogue/3-1.jpg"},{"href":"{{assets}}/img/catalogue/3-2.jpg"},{"href":"{{assets}}/img/catalogue/3-3.jpg"}]' tabindex="-1">
								<div class="catalogue__text big">Pink Lady</div>
							</a><!-- .catalogue__card -->
						</div><!-- .col -->
						<div class="col col-3">
							<a href="#" id="catalogue-4" class="catalogue__card block" data-imgs='[{"href":"{{assets}}/img/catalogue/4-1.jpg"},{"href":"{{assets}}/img/catalogue/4-2.jpg"}]' tabindex="-1">
								<div class="catalogue__text big">Neo-classic</div>
							</a><!-- .catalogue__card -->
						</div><!-- .col -->
					</div><!-- .grid -->
				</div><!-- .container -->
			</div><!-- .section #catalogue -->
		</div><!-- .content -->

		<!-- Page footer -->
		<!--(bake partials/footer.tpl.html)-->
	</div>

	<!-- Page sidebar -->
	<!--(bake partials/sidebar.tpl.html)-->

	<!-- Import any and all scripts here -->
	<!-- build:js {{assets}}/js/dist/index.min.js -->
	<script src="{{assets}}/js/lib/jquery.min.js"></script>
	<script src="{{assets}}/js/lib/jquery.swipebox.min.js"></script>
	<script src="{{assets}}/js/validators/email.js"></script>
	<script src="{{assets}}/js/common/methods.js"></script>
	<script src="{{assets}}/js/common/setup.js"></script>
	<script src="{{assets}}/js/common/sidebar.js"></script>
	<script src="{{assets}}/js/common/footer.js"></script>
	<script src="{{assets}}/js/modules/carousel.js"></script>
	<!-- endbuild -->
	<script>
		$( document ).ready( function() {
			$( ".catalogue__card" ).on( "click", function( e ) {
				e.preventDefault();
				$.swipebox( $( this ).data( "imgs" ) || [] );
			});
		});
	</script>
</body>
</html>

<!-- @author Navdeep -->