<!--(bake-start _if="isJSP")-->
<%@ taglib uri="http://www.springframework.org/tags/form" prefix="form" %>
<!--(bake-end)-->
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- All the meta tags -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="link-prefix" content="{{linkPrefix}}">
	<meta name="_csrf" content="${_csrf.token}">

	<!-- Page title -->
	<title>Login | HomeArte</title>

	<!-- Import any and all stylesheets here -->
	<link rel="stylesheet" href="{{assets}}/css/lib/font-awesome.min.css">
	<!-- build:css {{assets}}/css/style.min.css -->
	<link rel="stylesheet" href="{{assets}}/css/build.css">
	<!-- endbuild -->
	<!-- NOTE: Do not put script tags here! -->
</head>
<body>

	<!-- The main page content is encapsulated in this div -->
	<div class="page">
		<!-- Page header -->
		<!--(bake partials/header.tpl.html)-->

		<!-- Page content -->
		<div class="content section">
			<form:form class="form js-login-form" method="POST" action="{{linkPrefix}}/ulogin/sub" commandName="ldto">
				<!-- Input field for username / email address -->
				<div class="grid">
					<div class="col col-2 no-gutter">
						<input type="text" name="emailIco" class="block txt center" disabled="disabled" placeholder="&#xf003;">
					</div><!-- .col -->
					<div class="col col-10 no-gutter">
						<!--(bake-start _if="isJSP")-->
						<form:input type="text" path="email" class="block txt" spellcheck="false" placeholder="Email address" />
						<!--(bake-end)-->
						<!--(bake-start _if="!isJSP")-->
						<input type="text" name="email" class="block txt" spellcheck="false" placeholder="Email address">
						<!--(bake-end)-->
					</div><!-- .col -->
				</div><!-- .grid -->
				<!-- Input field for password -->
				<div class="grid">
					<div class="col col-2 no-gutter">
						<input type="text" name="passwordIco" class="block txt center" disabled="disabled" placeholder="&#xf023;">
					</div><!-- .col -->
					<div class="col col-10 no-gutter">
						<!--(bake-start _if="isJSP")-->
						<form:input type="password" path="password" class="block txt" spellcheck="false" placeholder="Password" />
						<!--(bake-end)-->
						<!--(bake-start _if="!isJSP")-->
						<input type="password" name="password" class="block txt" spellcheck="false" placeholder="Password">
						<!--(bake-end)-->
					</div><!-- .col -->
				</div><!-- .grid -->
				<!-- Remember me checkbox -->
				<p class="small">
					<!--(bake-start _if="isJSP")-->
					<form:checkbox path="rememberMe" class="check" />
					<form:label for="rememberMe1" path="rememberMe">Remember me</form:label>
					<!--(bake-end)-->
					<!--(bake-start _if="!isJSP")-->
					<input type="checkbox" id="rememberMe" class="check">
					<label for="rememberMe">Remember me</label>
					<!--(bake-end)-->
				</p>
				<!-- Paragraph to show form validation messages -->
				<!--(bake-start _if="isJSP")-->
				<p class="small error js-notif">${ldto.error}</p>
				<!--(bake-end)-->
				<!--(bake-start _if="!isJSP")-->
				<p class="small error js-notif"></p>
				<!--(bake-end)-->
				<!-- Button to submit the form -->
				<button class="block btn btn--large">Login</button>
				<!-- Forgot password link -->
				<p class="align-right small">
					<a href="{{linkPrefix}}/fpwd">forgot password?</a>
				</p>
				<!-- Google signup -->
				<div class="hide">
				<p class="center small">or</p>
				<button class="block btn btn--large btn--google">
					<span class="fa fa-google-plus fa-fw"></span>
					&nbsp;
					Login with Google
				</button>
				</div>
			</form:form><!-- .form -->
		</div><!-- .content -->

		<!-- Page footer -->
		<!--(bake partials/footer.tpl.html)-->
	</div>

	<!-- Page sidebar -->
	<!--(bake partials/sidebar.tpl.html)-->

	<!-- Import any and all scripts here -->
	<!-- build:js {{assets}}/js/dist/login.min.js -->
	<script src="{{assets}}/js/lib/jquery.min.js"></script>
	<script src="{{assets}}/js/validators/email.js"></script>
	<script src="{{assets}}/js/common/methods.js"></script>
	<script src="{{assets}}/js/common/setup.js"></script>
	<script src="{{assets}}/js/common/sidebar.js"></script>
	<script src="{{assets}}/js/common/footer.js"></script>
	<script src="{{assets}}/js/pages/login.js"></script>
	<!-- endbuild -->
</body>
</html>

<!-- @author Navdeep -->
