<!--(bake-start _if="isJSP")-->
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<!--(bake-end)-->
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- All the meta tags -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="link-prefix" content="{{linkPrefix}}">
	<meta name="_csrf" content="${_csrf.token}">
	<meta name="prod-id" content="${hpdto.hpid}">

	<!-- Page title -->
	<title>Product | HomeArte</title>

	<!-- Import any and all stylesheets here -->
	<link rel="stylesheet" href="{{assets}}/css/lib/font-awesome.min.css">
	<!-- build:css {{assets}}/css/style.min.css -->
	<link rel="stylesheet" href="{{assets}}/css/build.css">
	<!-- endbuild -->
	<!-- NOTE: Do not put script tags here! -->
</head>
<body>

	<!-- The main page content is encapsulated in this div -->
	<div class="page">
		<!-- Page header -->
		<!--(bake partials/dashboard-header.tpl.html)-->

		<!-- Page content -->
		<div class="content content--dashboard content--product">
			<p class="small">
				<span class="fa fa-angle-left fa-fw"></span> Go back to <a href="{{linkPrefix}}/dashboard/project/${hpdto.projectId}/sub-project/${hpdto.subProjectId}">${hpdto.subProjectName}</a>
			</p>
			<div class="grid bkg--light">
				<div class="col col-9">
					<div class="product__img">
						<img id="prodImg" src="" alt="Product Image" class="img--centered">
					</div>
				</div><!-- .col -->
				<div class="col col-3">
					<p class="no-margin" style="margin-bottom: 25px">
						<span id="prodName" class="dark" title="Name" style="color: black">...</span>
					</p>
					<p class="no-margin" style="margin-bottom: 25px">
						<span id="prodShape" class="dark" title="Shape" style="color: black">...</span>
					</p>
					<p class="no-margin" style="margin-bottom: 25px">
						<span id="prodDim" class="dark" title="Dimension" style="color: black">...</span>
					</p>
					<span class="small upper">Material</span>
					<select id="fin" class="txt block" style="margin-bottom: 5px"></select>
					<span class="small upper">Color</span>
					<select id="col" class="txt block" style="margin-bottom: 5px"></select>
					<span class="small upper">Price</span>
					<p>
						<span class="fa fa-rupee"></span>
						<span id="unitPrice" class="biggest">...</span>
						<span class="small">.00</span>
					</p>
				</div><!-- .col -->
			</div><!-- .grid -->
			<div class="container">
				<div id="prodStatus" class="grid center">
					<div class="col col-4">
						<a href="#" class="btn btn--large btn--success block no-states" data-status-code="0">
							<span class="fa fa-check-circle fa-fw"></span>
							<span class="big">Accept</span>
						</a>
						<div class="center success bkg--light hide js-static-status" style="padding: 23px">
							<span class="fa fa-check-circle fa-fw"></span> Accepted
						</div>
					</div><!-- .col -->
					<div class="col col-4">
						<a href="#" class="btn btn--large btn--warn block no-states" data-status-code="1">
							<span class="fa fa-refresh fa-fw"></span>
							<span class="big">Redesign</span>
						</a>
						<div class="center warn bkg--light hide js-static-status" style="padding: 23px">
							<span class="fa fa-refresh fa-fw"></span> Redesign
						</div>
					</div><!-- .col -->
					<div class="col col-4">
						<a href="#" class="btn btn--large btn--error block no-states" data-status-code="2">
							<span class="fa fa-times-circle fa-fw"></span>
							<span class="big">Reject</span>
						</a>
						<div class="center error bkg--light hide js-static-status" style="padding: 23px">
							<span class="fa fa-times-circle fa-fw"></span> Rejected
						</div>
					</div><!-- .col -->
				</div><!-- .grid -->
				<p id="prodStatusLoader" class="small center">Updating status... Please wait...</p>
				<div class="grid">
					<div class="col col-12">
						<h2>Product specifications</h2>
						<p class="big">
							<span class="underline">Base units</span>
						</p>
						<table width="100%" class="big product__specs">
							<thead class="bold">
								<tr class="block">
									<td class="inline-block col-2">S.No.</td><!--
									--><td class="inline-block col-2">Name</td><!--
									--><td class="inline-block col-2">W x D x H</td><!--
									--><td class="inline-block col-2">Unit Material</td><!--
									--><td class="inline-block col-2">Shutter Material</td><!--
									--><td class="inline-block col-2">Shutter Color</td>
								</tr>
							</thead>
							<tbody id="baseUnits" class="block"></tbody>
						</table>
						<p class="big">
							<span class="underline">Wall units</span>
						</p>
						<table width="100%" class="big product__specs">
							<thead class="bold">
								<tr class="block">
									<td class="inline-block col-2">S.No.</td><!--
									--><td class="inline-block col-2">Name</td><!--
									--><td class="inline-block col-2">W x D x H</td><!--
									--><td class="inline-block col-2">Unit Material</td><!--
									--><td class="inline-block col-2">Shutter Material</td><!--
									--><td class="inline-block col-2">Shutter Color</td>
								</tr>
							</thead>
							<tbody id="wallUnits" class="block"></tbody>
						</table>
						<p class="big">
							<span class="underline">Hardware</span>
						</p>
						<table width="100%" class="big product__specs">
							<thead class="bold">
								<tr class="block">
									<td class="inline-block col-2">S.No.</td><!--
									--><td class="inline-block col-5">Name</td><!--
									--><td class="inline-block col-5">Brand</td>
								</tr>
							</thead>
							<tbody id="hardware" class="block"></tbody>
						</table>
					</div><!-- .col -->
				</div><!-- .grid -->
			</div><!-- .container -->
		</div><!-- .content -->

		<!-- Page footer -->
		<!--(bake partials/footer.tpl.html)-->
	</div>

	<!-- Import any and all scripts here -->
	<!-- build:js {{assets}}/js/dist/product.min.js -->
	<script src="{{assets}}/js/lib/jquery.min.js"></script>
	<script src="{{assets}}/js/lib/handlebars.runtime.min.js"></script>
	<script src="{{assets}}/js/common/methods.js"></script>
	<script src="{{assets}}/js/common/setup.js"></script>
	<script src="{{assets}}/js/common/sidebar.js"></script>
	<script src="{{assets}}/js/common/footer.js"></script>
	<script src="{{assets}}/js/utils/date-utils.js"></script>
	<script src="{{assets}}/js/utils/currency-utils.js"></script>
	<script src="{{assets}}/js/utils/template-utils.js"></script>
	<script src="{{assets}}/js/build/hbs-templates.js"></script>
	<script src="{{assets}}/js/modules/notifications.js"></script>
	<script src="{{assets}}/js/pages/product.js"></script>
	<!-- endbuild -->
	<script>
		// Set the current date:
		DateUtils.setCurrDate( document.getElementById( "today" ) );
	</script>
</body>
</html>

<!-- @author Navdeep -->