<!--(bake-start _if="isJSP")-->
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<!--(bake-end)-->
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- All the meta tags -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="link-prefix" content="{{linkPrefix}}">
	<meta name="_csrf" content="${_csrf.token}">
	<meta name="builder-id" content="${ddto.builderId}">
	<meta name="proj-id" content="${pdto.projectId}">

	<!-- Page title -->
	<title>Project | HomeArte</title>

	<!-- Import any and all stylesheets here -->
	<link rel="stylesheet" href="{{assets}}/css/lib/font-awesome.min.css">
	<!-- build:css {{assets}}/css/style.min.css -->
	<link rel="stylesheet" href="{{assets}}/css/build.css">
	<!-- endbuild -->
	<!-- NOTE: Do not put script tags here! -->
</head>
<body>

	<!-- The main page content is encapsulated in this div -->
	<div class="page">
		<!-- Page header -->
		<!--(bake partials/dashboard-header.tpl.html)-->

		<!-- Page content -->
		<div class="content content--dashboard">
			<div class="grid">
				<div class="col col-12">
					<div class="bigger editable">
						<span id="projName" class="editable__text">${pdto.projectName}</span>
						<a href="#edit" class="editable__link">
							<span class="fa fa-pencil fa-fw"></span>
						</a>
					</div>
					<p class="small">Created on ${pdto.creationTimestamp}</p>
					<p class="big editable">
						<span id="projDesc" class="editable__text">${pdto.projectDescription}</span>
						<a href="#edit" class="editable__link">
							<span class="fa fa-pencil fa-fw"></span>
						</a>
					</p>
					<p class="small">
						<a href="{{linkPrefix}}/dashboard/project/${pdto.projectId}/sub-project/create">create a sub-project</a>
					</p>
					<div id="subProjs">
						<p class="small">Loading sub-projects...</p>
					</div>
				</div><!-- .col -->
			</div><!-- .grid -->
		</div><!-- .content -->

		<!-- Page sidebar -->
		<!--(bake partials/dashboard-footer.tpl.html)-->
	</div>

	<!-- Page sidebar -->
	<!--(bake partials/dashboard-sidebar.tpl.html)-->

	<!-- Import any and all scripts here -->
	<!-- build:js {{assets}}/js/dist/project.min.js -->
	<script src="{{assets}}/js/lib/jquery.min.js"></script>
	<script src="{{assets}}/js/lib/handlebars.runtime.min.js"></script>
	<script src="{{assets}}/js/common/methods.js"></script>
	<script src="{{assets}}/js/common/setup.js"></script>
	<script src="{{assets}}/js/common/sidebar.js"></script>
	<script src="{{assets}}/js/utils/date-utils.js"></script>
	<script src="{{assets}}/js/utils/template-utils.js"></script>
	<script src="{{assets}}/js/build/hbs-templates.js"></script>
	<script src="{{assets}}/js/modules/notifications.js"></script>
	<script src="{{assets}}/js/modules/modal.js"></script>
	<script src="{{assets}}/js/modules/inline-edit.js"></script>
	<script src="{{assets}}/js/pages/project.js"></script>
	<!-- endbuild -->
	<script>
		// Set the current date:
		DateUtils.setCurrDate( document.getElementById( "today" ) );
	</script>
</body>
</html>

<!-- @author Navdeep -->