<!--(bake-start _if="isJSP")-->
<%@ taglib uri="http://www.springframework.org/tags/form" prefix="form" %>
<!--(bake-end)-->
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- All the meta tags -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="link-prefix" content="{{linkPrefix}}">
	<meta name="_csrf" content="${_csrf.token}">

	<!-- Page title -->
	<title>Signup | HomeArte</title>

	<!-- Import any and all stylesheets here -->
	<link rel="stylesheet" href="{{assets}}/css/lib/font-awesome.min.css">
	<!-- build:css {{assets}}/css/style.min.css -->
	<link rel="stylesheet" href="{{assets}}/css/build.css">
	<!-- endbuild -->
	<!-- NOTE: Do not put script tags here! -->
</head>
<body>

	<!-- The main page content is encapsulated in this div -->
	<div class="page">
		<!-- Page header -->
		<!--(bake partials/header.tpl.html)-->

		<!-- Page content -->
		<div class="content section">
			<form:form class="form js-signup-form" method="POST" action="{{linkPrefix}}/signup/sub" commandName="sdto">
				<!-- Input field for first name -->
				<div class="grid">
					<div class="col col-2 no-gutter">
						<input type="text" name="firstNameIco" class="block txt center" disabled="disabled" placeholder="&#xf044;">
					</div><!-- .col -->
					<div class="col col-10 no-gutter">
						<!--(bake-start _if="isJSP")-->
						<form:input type="text" path="firstName" class="block txt" spellcheck="false" placeholder="First name" />
						<!--(bake-end)-->
						<!--(bake-start _if="!isJSP")-->
						<input type="text" name="firstName" class="block txt" spellcheck="false" placeholder="First name">
						<!--(bake-end)-->
					</div><!-- .col -->
				</div><!-- .grid -->
				<!-- Input field for last name -->
				<div class="grid">
					<div class="col col-2 no-gutter">
						<input type="text" name="lastNameIco" class="block txt center" disabled="disabled" placeholder="&#xf044;">
					</div><!-- .col -->
					<div class="col col-10 no-gutter">
						<!--(bake-start _if="isJSP")-->
						<form:input type="text" path="lastName" class="block txt" spellcheck="false" placeholder="Last name" />
						<!--(bake-end)-->
						<!--(bake-start _if="!isJSP")-->
						<input type="text" name="lastName" class="block txt" spellcheck="false" placeholder="Last name">
						<!--(bake-end)-->
					</div><!-- .col -->
				</div><!-- .grid -->
				<!-- Input field for username / email address -->
				<div class="grid">
					<div class="col col-2 no-gutter">
						<input type="text" name="emailIco" class="block txt center" disabled="disabled" placeholder="&#xf003;">
					</div><!-- .col -->
					<div class="col col-10 no-gutter">
						<!--(bake-start _if="isJSP")-->
						<form:input type="text" path="email" class="block txt" spellcheck="false" placeholder="Email address" />
						<!--(bake-end)-->
						<!--(bake-start _if="!isJSP")-->
						<input type="text" name="email" class="block txt" spellcheck="false" placeholder="Email address">
						<!--(bake-end)-->
					</div><!-- .col -->
				</div><!-- .grid -->
				<!-- Input field for password -->
				<div class="grid">
					<div class="col col-2 no-gutter">
						<input type="text" name="passwordIco" class="block txt center" disabled="disabled" placeholder="&#xf023;">
					</div><!-- .col -->
					<div class="col col-10 no-gutter">
						<!--(bake-start _if="isJSP")-->
						<form:input type="password" path="password" class="block txt" spellcheck="false" placeholder="Password" />
						<!--(bake-end)-->
						<!--(bake-start _if="!isJSP")-->
						<input type="password" name="password" class="block txt" spellcheck="false" placeholder="Password">
						<!--(bake-end)-->
					</div><!-- .col -->
				</div><!-- .grid -->
				<!-- Input field for confirming password -->
				<div class="grid">
					<div class="col col-2 no-gutter">
						<input type="text" name="confirmPasswordIco" class="block txt center" disabled="disabled" placeholder="&#xf023;">
					</div><!-- .col -->
					<div class="col col-10 no-gutter">
						<input type="password" name="confirmPassword" class="block txt" spellcheck="false" placeholder="Confirm password">
					</div><!-- .col -->
				</div><!-- .grid -->
				<!-- Paragraph to show form validation messages -->
				<!--(bake-start _if="isJSP")-->
				<p class="small error js-notif">${sdto.error}</p>
				<!--(bake-end)-->
				<!--(bake-start _if="!isJSP")-->
				<p class="small error js-notif"></p>
				<!--(bake-end)-->
				<!-- Button to submit the form -->
				<button class="block btn btn--large">Signup</button>
				<!-- Google signup -->
				<p class="center small">or</p>
				<button class="block btn btn--large btn--google">
					<span class="fa fa-google-plus fa-fw"></span>
					&nbsp;
					Signup with Google
				</button>
				<!-- Login link -->
				<p class="align-right small">
					Already a member? <a href="{{linkPrefix}}/ulogin">Login</a>
				</p>
			</form:form><!-- .form -->
		</div><!-- .content -->

		<!-- Page footer -->
		<!--(bake partials/footer.tpl.html)-->
	</div>

	<!-- Page sidebar -->
	<!--(bake partials/sidebar.tpl.html)-->

	<!-- Import any and all scripts here -->
	<!-- build:js {{assets}}/js/dist/signup.min.js -->
	<script src="{{assets}}/js/lib/jquery.min.js"></script>
	<script src="{{assets}}/js/validators/email.js"></script>
	<script src="{{assets}}/js/validators/password.js"></script>
	<script src="{{assets}}/js/common/methods.js"></script>
	<script src="{{assets}}/js/common/setup.js"></script>
	<script src="{{assets}}/js/common/sidebar.js"></script>
	<script src="{{assets}}/js/common/footer.js"></script>
	<script src="{{assets}}/js/pages/signup.js"></script>
	<!-- endbuild -->
</body>
</html>

<!-- @author Navdeep -->
