<!--(bake-start _if="isJSP")-->
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<!--(bake-end)-->
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- All the meta tags -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="link-prefix" content="{{linkPrefix}}">
	<meta name="_csrf" content="${_csrf.token}">
	<meta name="builder-id" content="${ddto.builderId}">

	<!-- Page title -->
	<title>Sub-project not found | HomeArte</title>

	<!-- Import any and all stylesheets here -->
	<link rel="stylesheet" href="{{assets}}/css/lib/font-awesome.min.css">
	<!-- build:css {{assets}}/css/style.min.css -->
	<link rel="stylesheet" href="{{assets}}/css/build.css">
	<!-- endbuild -->
	<!-- NOTE: Do not put script tags here! -->
</head>
<body>

	<!-- The main page content is encapsulated in this div -->
	<div class="page">
		<!-- Page header -->
		<!--(bake partials/dashboard-header.tpl.html)-->

		<!-- Page content -->
		<div class="content content--dashboard">
			<h1 class="bigger center">Sub-project not found</h1>
			<p class="center">
				<span class="big">The requested sub-project is either not available or has been deleted.</span>
			</p>
			<p class="center">
				Go back to the <a href="{{linkPrefix}}/dashboard/project/${pdto.projectId}">sub-projects</a> page to find the sub-project you're looking for...
			</p>
		</div><!-- .content -->

		<!-- Page sidebar -->
		<!--(bake partials/dashboard-footer.tpl.html)-->
	</div>

	<!-- Page sidebar -->
	<!--(bake partials/dashboard-sidebar.tpl.html)-->

	<!-- Import any and all scripts here -->
	<!-- build:js {{assets}}/js/dist/sub-project-not-found.min.js -->
	<script src="{{assets}}/js/lib/jquery.min.js"></script>
	<script src="{{assets}}/js/common/methods.js"></script>
	<script src="{{assets}}/js/common/setup.js"></script>
	<script src="{{assets}}/js/common/sidebar.js"></script>
	<script src="{{assets}}/js/utils/date-utils.js"></script>
	<script src="{{assets}}/js/modules/notifications.js"></script>
	<!-- endbuild -->
	<script>
		// Set the current date:
		DateUtils.setCurrDate( document.getElementById( "today" ) );
	</script>
</body>
</html>

<!-- @author Navdeep -->