<!--(bake-start _if="isJSP")-->
<!-- Put JSP headers like tag libs here... -->
<!--(bake-end)-->
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- All the meta tags -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="link-prefix" content="{{linkPrefix}}">
	<meta name="_csrf" content="${_csrf.token}">

	<!-- Page title -->
	<title>Our team | HomeArte</title>

	<!-- Import any and all stylesheets here -->
	<link rel="stylesheet" href="{{assets}}/css/lib/font-awesome.min.css">
	<!-- build:css {{assets}}/css/style.min.css -->
	<link rel="stylesheet" href="{{assets}}/css/build.css">
	<!-- endbuild -->
	<!-- NOTE: Do not put script tags here! -->
</head>
<body>

	<!-- The main page content is encapsulated in this div -->
	<div class="page">
		<!-- Page header -->
		<!--(bake partials/header.tpl.html)-->

		<!-- Page content -->
		<div class="content">
			<div class="container">
				<p class="center">Our Team</p>
				<div class="grid center">
					<div class="col col-3">
						<div class="img--circle">
							<img src="{{assets}}/img/team/vishal.jpg" alt="Vishal Luniya">
						</div>
						<p class="big center">Vishal Luniya</p>
						<p class="small center no-margin">IIT Bombay 2011</p>
					</div><!-- .col -->
					<div class="col col-3">
						<div class="img--circle">
							<img src="{{assets}}/img/team/saransh.jpg" alt="Saransh Mahajan">
						</div>
						<p class="big center">Saransh Mahajan</p>
						<p class="small center no-margin">IIT Bombay 2011</p>
					</div><!-- .col -->
					<div class="col col-3">
						<div class="img--circle">
							<img src="{{assets}}/img/team/ronak.jpg" alt="Ronak Gupta">
						</div>
						<p class="big center">Ronak Gupta</p>
						<p class="small center no-margin">BVPCOE Pune 2010</p>
					</div><!-- .col -->
					<div class="col col-3">
						<div class="img--circle">
							<img src="{{assets}}/img/team/anurag.jpg" alt="Anurag Agrawal">
						</div>
						<p class="big center">Anurag Agrawal</p>
						<p class="small center no-margin">IIT Bombay 2011</p>
					</div><!-- .col -->
				</div><!-- .grid -->
			</div><!-- .container -->
		</div><!-- .content -->

		<!-- Page footer -->
		<!--(bake partials/footer.tpl.html)-->
	</div>

	<!-- Page sidebar -->
	<!--(bake partials/sidebar.tpl.html)-->

	<!-- Import any and all scripts here -->
	<!-- build:js {{assets}}/js/dist/team.min.js -->
	<script src="{{assets}}/js/lib/jquery.min.js"></script>
	<script src="{{assets}}/js/validators/email.js"></script>
	<script src="{{assets}}/js/common/methods.js"></script>
	<script src="{{assets}}/js/common/setup.js"></script>
	<script src="{{assets}}/js/common/sidebar.js"></script>
	<script src="{{assets}}/js/common/footer.js"></script>
	<!-- endbuild -->
</body>
</html>

<!-- @author Navdeep -->