.btn
	buttonify( white, accent )
	font-size 1rem
	padding 15px
	border 1px solid @background

.btn--medium
	padding 10px

.btn--large
	padding 20px

.btn--success
	buttonify( white, green )
	border 1px solid @background

.btn--warn
	buttonify( white, orange )
	border 1px solid @background

.btn--error
	buttonify( white, pink )
	border 1px solid @background


// Social buttons:
.btn--google
	buttonify( white, google )
	border 1px solid @background