.carousel
	position relative
	overflow hidden

	 ul
		margin 0
		padding 0

.carousel__slide
	width 100%
	height 100%
	list-style none
	position absolute
	top 0
	left 0

.carousel__nav
	color white
	background rgba( black, 0.1 )
	width 50px
	height 50px
	border-radius 50%
	font-size 2rem
	cursor pointer
	position absolute
	top 0

	&:hover
		background rgba( black, 0.2 )

	&:active
		background rgba( black, 0.3 )

.carousel__nav--left
	left 0
	margin-left 10px

.carousel__nav--right
	right 0
	margin-right 10px