.check
	display none

	& ~ label
		color lighten( black, 60% )

	& ~ label:before
		display inline-block
		vertical-align middle
		margin-right 7px
		font-size 1.2rem
		cursor pointer
		content "\f204"

	&:checked ~ label
		color green

	&:checked ~ label:before
		color green
		content "\f205"