.img--circle
	width 170px
	height @width
	border-radius 50%
	border 1px solid rgba( black, 0.1 )
	display inline-block
	vertical-align middle
	overflow hidden

	img
		width @width

.img--centered
	position absolute
	top 0
	right 0
	bottom 0
	left 0
	margin auto