// Local variables:
modalWidth  = 400px
modalHeight = 250px

.modal__overlay
	position fixed
	top 0
	right 0
	bottom 0
	left 0
	background rgba( black, 0.3 )
	z-index 150

.modal
	width modalWidth
	height modalHeight
	background white
	position absolute
	top 50%
	left 50%
	margin-left -1 * ( modalWidth / 2 )
	margin-top -1 * ( modalHeight / 2 )

.modal__header
	height 50px
	line-height @height
	background darken( white, 5% )

.modal__body
	padding 10px

	.btn
		min-width 120px