.txt
	padding 15px
	background darken( white, 2% )
	font-size 1rem
	border 1px solid darken( white, 5% )

	&:hover, &:active
		background darken( white, 1% )

.txt[disabled="disabled"]
	&:hover, &:active
		background darken( white, 2% )

.txt--small
	padding 10px

.txt--white
	background white



.txt-area
	height 160px
	resize none