/**
 * @desc
 * Cooks up the necessary styles for a button element
 *
 * @arg $color      - The color of the button text
 * @arg $background - The background of the button text
 * @arg $isRounded  - Whether rounded edges required or not
 */
buttonify( $color, $background, $isRounded = false )
	color $color
	background $background
	if $isRounded
		border-radius 1.6rem

	&:hover
		background darken( @background, 5% )

	&:active
		background darken( @background, 10% )


/**
 * @desc
 * Clearfix for floating elements
 */
clearfix()
	&:after
		content ""
		display table
		clear both


/**
 * @desc
 * Mixin to generate webfont styles
 *
 * @arg $name     - The intended name of the font family
 * @arg $fileName - The common prefix of the physical font files
 */
webfont( $name, $fileName )
	@font-face
		font-family $name
		src url( fontsPath + $fileName + ".eot" )
		src url( fontsPath + $fileName + ".eot?#iefix" ) format( "embedded-opentype" ),
	        url( fontsPath + $fileName + ".woff" ) format( "woff" ),
	        url( fontsPath + $fileName + ".ttf" ) format( "truetype" ),
	        url( fontsPath + $fileName + ".svg#" + $name ) format( "svg" )
		font-weight normal
		font-style normal
	@media screen and (-webkit-min-device-pixel-ratio:0)
		@font-face
			font-family $name
			src url( fontsPath + $fileName + ".svg#" + $name ) format( "svg" )


/**
 * @desc
 * Mixin to generate colors for social website links
 *
 * @arg $name  - The name of the social website
 * @arg $color - The primary color of that website
 */
socialize( $name, $color )
	.social--{$name}
		color $color

		&:hover, &:active
			color darken( @color, 10% )


/**
 * @desc
 * Mixin to generate styles for a circlular element
 *
 * @arg $diameter - The diameter of the intended circle
 */
circle( $diameter )
	width $diameter
	height $diameter
	border-radius 50%