html
	font-size 1em

body
	margin 0
	padding 0
	font-family roboto
	color lighten( black, 40% )
	background canvas

*
	box-sizing border-box

h1, h2, h3, h4, h5
	font-weight normal

a
input
select
button
textarea
	border 0
	outline none
	font-family inherit

a
input[type="submit"]
button
	cursor pointer

a
	color accent
	text-decoration none

	&:hover
		color darken( @color, 15% )

	&:active
		color darken( @color, 25% )

a.no-states
	&:hover, &:active
		color white

a.success
	&:hover, &:active
		color green

a.warn
	&:hover, &:active
		color orange

a.error
	&:hover, &:active
		color pink

hr
	border-bottom 1px solid darken( white, 12% )
	border-top 0
	border-left 0
	border-right 0