// Webfont definitions:
webfont( "RobotoRegular", "roboto-regular-webfont" )
webfont( "PrintClearly", "print-clearly-webfont" )


// Font sizes:
.humongous
	font-size 5.5rem

.biggest
	font-size 3rem

.bigger
	font-size 2rem

.big
	font-size 1.2rem

.small
	font-size 0.9rem

.smaller
	font-size 0.8rem


// Font families:
.print-clearly
	font-family printClearly

.mono
	font-family mono


// Font colors
.success
	color green

.warn
	color orange

.error
	color pink