.center
	text-align center

.upper
	text-transform uppercase

.align-right
	text-align right

.align-left
	text-align left

.hide
	display none !important
	visibility hidden !important

.show
	display block !important

.underline
	border-bottom 1px solid

.white
	color white

	&:hover, &:active
		color @color

.dark
	color lighten( black, 40% )

	&:hover, &:active
		color @color

.bold
	font-weight bold

.scroll-vert
	overflow-x hidden
	overflow-y scroll

.block
	display block
	width 100%

.inline-block
	display inline-block
	vertical-align top

.loose-text
	letter-spacing 1px

.line-height
	line-height 1.5

.no-margin
	margin 0

.bkg--light
	background darken( white, 3% )

.ellipsis
	overflow hidden
	white-space nowrap
	text-overflow ellipsis