<div class="sidebar sidebar--dashboard">
	<div class="center">
		<div class="img--circle">
			<img src="{{assets}}/img/user-placeholder.png" alt="User Image">
		</div>
	</div>
	<p class="big center">${ddto.userName}</p>
	<hr />
	<ul class="sidebar__nav">
		<li>
			<a href="{{linkPrefix}}/dashboard" class="small block">
				<span class="fa fa-folder-open fa-fw"></span>&nbsp;&nbsp; Projects
			</a>
		</li>
		<li>
			<a href="{{linkPrefix}}/builder-info" class="small block">
				<span class="fa fa-user fa-fw"></span>&nbsp;&nbsp; View builder info
			</a>
		</li>
		<li>
			<a href="{{linkPrefix}}/account" class="small block">
				<span class="fa fa-cogs fa-fw"></span>&nbsp;&nbsp; Account settings
			</a>
		</li>
	</ul>
</div><!-- .sidebar -->