<div class="header header--dashboard grid">
	<div class="col col-4 no-gutter">
		<span id="today" class="small white" style="padding-left: 10px"></span>
	</div><!-- .col -->
	<div class="col col-4 no-gutter center">
		<a href="{{linkPrefix}}/" class="bigger upper print-clearly loose-text white" tabindex="-1">HomeArte</a>
	</div><!-- .col -->
	<div class="col col-4 no-gutter align-right">
		<div class="notif__bell inline-block" style="width: 100px">
			<a href="#show-notif" class="white no-states" tabindex="-1">
				<span class="fa fa-bell-o fa-fw small"></span>
				<span class="notif__indicator inline-block"></span>
			</a>
			<div class="notif__drawer hide">
				<div class="notif__drawer__main scroll-vert">
					<div class="white center">
						<span class="underline">Notifications</span>
					</div>
					<ul class="align-left">
						<c:forEach var="notif" items="${ddto.userNotifications}">
							<c:set var="unreadClass" scope="session" value="notif--read " />
							<c:if test="${notif.status == 0}">
								<c:set var="unreadClass" scope="session" value="notif--unread " />
							</c:if>
							<li>
								<a href="#" class="notif ${unreadClass} small white block no-states">${notif.notificationText}</a>
							</li>
						</c:forEach>
					</ul>
				</div><!-- .notif__drawer__main -->
				<div class="notif__drawer__footer center">
					<a href="#" class="small white center block no-states">
						view all <span class="fa fa-angle-right fa-fw"></span>
					</a>
				</div><!-- .notif__drawer__footer -->
			</div><!-- .notif__drawer -->
		</div><!-- .notif__bell -->
		<span class="white">|</span>
		<a href="{{linkPrefix}}/logout" class="small white no-states" tabindex="-1">Logout</a>
	</div><!-- .col -->
</div><!-- .header.grid -->