<div class="footer">
	<div class="container">
		<div class="grid">
			<div class="col col-2">
				<p class="small bold hide"><a href="{{linkPrefix}}/team" tabindex="-1">Team</a></p>
				<p class="small bold"><a href="{{linkPrefix}}/about" tabindex="-1">About Us</a></p>
				<p class="small bold"><a href="{{linkPrefix}}/contact" tabindex="-1">Contact Us</a></p>
			</div><!-- .col -->
			<div class="col col-3"></div><!-- .col -->
			<div class="col col-7">
				<!-- Form for submitting an email for newsletter subscription -->
				<form id="newsLetterForm" class="grid">
					<div class="col col-9 no-gutter">
						<input type="text" name="email" class="txt txt--white block" spellcheck="false" placeholder="Enter your email address..." tabindex="-1">
					</div><!-- .col -->
					<div class="col col-3 no-gutter">
						<button class="btn block" tabindex="-1">Subscribe</button>
					</div><!-- .col -->
				</form><!-- .grid -->
				<p class="smaller">Subscribe to our newsletter for all the latest updates about HomeArte</p>
				<!-- Paragraph to show form validation messages -->
				<p class="small js-newsletter-msg"></p>
			</div><!-- .col -->
		</div><!-- .grid -->
	</div><!-- .container -->
	<hr />
	<div class="grid">
		<div class="col col-4 no-gutter">
			<div>
				<span class="smaller">Follow us on</span>
				&nbsp;
				<a href="https://www.facebook.com/Homeartein-1608384559416314/timeline/" class="social--facebook big" target="_blank" title="Facebook" tabindex="-1">
					<span class="fa fa-facebook-square fa-fw"></span>
				</a>
				<a href="http://www.twitter.com/home_arte" class="social--twitter big" target="_blank" title="Twitter" tabindex="-1">
					<span class="fa fa-twitter-square fa-fw"></span>
				</a>
				<a href="https://www.linkedin.com/company/homearte-in?report%2Esuccess=KJ_KkFGTDCfMt-A7wV3Fn9Yvgwr02Kd6AZHGx4bQCDiP6-2rfP2oxyVoEQiPrcAQ7Bf" class="social--linkedin big" target="_blank" title="LinkedIn" tabindex="-1">
					<span class="fa fa-linkedin-square fa-fw"></span>
				</a>
			</div>
		</div><!-- .col -->
		<div class="col col-4 no-gutter center">
			&copy; 2015 HomeArte
		</div><!-- .col -->
		<div class="col col-4 no-gutter align-right">
			<a href="{{linkPrefix}}/privacy" class="smaller">Privacy Policy</a>
		</div><!-- .col -->
	</div><!-- .grid -->
</div><!-- .footer -->
