<div class="header grid">
	<div class="col col-4 no-gutter">
		<a href="#show-sidebar" class="js-toggle-sidebar" tabindex="-1">
			<span class="fa fa-bars fa-fw"></span> Menu
		</a>
	</div><!-- .col -->
	<div class="col col-4 no-gutter center">
		<a href="{{linkPrefix}}/" class="biggest upper print-clearly loose-text dark" tabindex="-1">HomeArte</a>
	</div><!-- .col -->
	<div class="col col-4 no-gutter align-right">
		<a href="{{linkPrefix}}/ulogin" tabindex="-1">Login</a>
		&nbsp;
		<a href="{{linkPrefix}}/signup" class="btn btn--medium no-states hide" tabindex="-1">Signup</a>
	</div><!-- .col -->
</div><!-- .header.grid -->