<div class="sidebar" data-visible="false">
	<p class="pad align-right">
		<a href="#hide-sidebar" class="white no-states js-toggle-sidebar" tabindex="-1">
			<span class="fa fa-times fa-fw"></span>
		</a>
	</p>
	<p class="pad">
		<a href="{{linkPrefix}}/signup" class="btn btn--accent block center no-states hide" tabindex="-1">Signup</a>
	</p>
	<ul class="sidebar__nav big">
		<li>
			<a href="{{linkPrefix}}/" class="white block no-states">
				<span class="fa fa-home fa-fw"></span>&nbsp;&nbsp; Home
			</a>
		</li>
		<li>
			<a href="{{linkPrefix}}/ulogin" class="white block no-states">
				<span class="fa fa-sign-in fa-fw"></span>&nbsp;&nbsp; Login
			</a>
		</li>
		<li>
			<a href="{{linkPrefix}}/contact" class="white block no-states">
				<span class="fa fa-phone-square fa-fw"></span>&nbsp;&nbsp; Contact Us
			</a>
		</li>
		<li>
			<a href="{{linkPrefix}}/about" class="white block no-states">
				<span class="fa fa-info-circle fa-fw"></span>&nbsp;&nbsp; About
			</a>
		</li>
	</ul>
</div><!-- .sidebar -->
<div class="sidebar__overlay hide"></div><!-- .sidebar__overlay -->