<div id="{{id}}" class="modal hide">
	<div class="modal__header big center">
		Please confirm
	</div><!-- .modal__header -->
	<div class="modal__body">
		<p class="center line-height js-modal-text">{{text}}</p>
		<p class="small center line-height js-modal-subtext"></p>
		<p class="center">
			<a href="#confirm" class="btn btn--success inline-block no-states js-modal-hide js-modal-confirm">
				<span class="fa fa-check-circle fa-fw"></span> Confirm
			</a>
			<a href="#cancel" class="btn btn--error inline-block no-states js-modal-hide">
				<span class="fa fa-times-circle fa-fw"></span> Cancel
			</a>
		</p>
	</div><!-- .modal__body -->
</div><!-- .modal -->