<div id="prod-{{productId}}" class="sub-proj__wrapper col-4 inline-block">
	<div class="card product-card">
		<a href="{{linkPrefix}}/products/{{productId}}" class="product-card__inner block">
			<div class="product-card__header">
				<img src="{{url}}" alt="{{productName}}" class="img--centered js-prod-thumb-img">
			</div>
			<div class="product-card__content">
				<p class="big center no-margin ellipsis" title="{{productName}}">
					{{productName}}
				</p>
				<p class="center no-margin">
					<span class="fa fa-rupee fa-fw big"></span>
					<span class="big">{{unitPrice}}</span><span class="small">.00</span>
				</p>
			</div>
			<div class="product-card__controls white center">
				<span class="fa fa-fw big"></span> <span class="js-status-txt"></span>
			</div>
		</a>
	</div>
</div>