<tr class="block">
	<td class="inline-block col-2">
		{{incr index}})
	</td><td class="inline-block col-2">
		{{name}}
	</td><td class="inline-block col-2">
		{{dimension}}
	</td><td class="inline-block col-2">
		{{unitMaterial}}
	</td><td class="inline-block col-2">
		{{shutterMaterial}}
	</td><td class="inline-block col-2">
		{{shutterColor}}
	</td>
</tr>