<div id="proj-{{projectId}}" class="card">
	<span class="bigger">{{projectName}}</span>
	<span class="small">( created on {{creationTimestamp}} )</span>
	<p class="big">
		{{#if projectDescription}}
		{{projectDescription}}
		{{else}}
		No description provided
		{{/if}}
	</p>
	<p class="small">
		No. of sub-projects: {{noOfSubProjects}}
	</p>
	<div class="grid block" style="position: relative">
		<div class="col col-6">
			<div style="width: 200px; position: absolute; left: 0; bottom: 0">
				<a href="{{linkPrefix}}/dashboard/project/{{projectId}}/edit">edit</a>
				&nbsp;
				<a href="#delete" class="mdl-cfrm-del" data-modal-subjective-data='{"_id":"{{projectId}}","name":"{{projectName}}"}'>delete</a>
			</div>
		</div>
		<div class="col col-6 no-gutter align-right">
			<a href="{{linkPrefix}}/dashboard/project/{{projectId}}" class="btn btn--large inline-block no-states">
				View this project <span class="fa fa-angle-right fa-fw"></span>
			</a>
		</div>
	</div>
</div>