<div id="subProj-{{subProjectId}}" class="sub-proj__wrapper col-4 inline-block">
	<div class="sub-proj card">
		<div class="sub-proj__ico center">
			<span class="fa fa-file-text-o fa-fw fa-3x"></span>
		</div>
		<div class="sub-proj__controls grid">
			<div class="col col-6 no-gutter">
				<a href="{{linkPrefix}}/dashboard/project/{{projectId}}/sub-project/{{subProjectId}}/edit" class="small" title="Edit">
					<span class="fa fa-pencil-square fa-fw"></span>
				</a>
			</div>
			<div class="col col-6 no-gutter align-right">
				<a href="#" class="small error mdl-cfrm-del" data-modal-subjective-data='{"_id":"{{subProjectId}}","name":"{{subProjectName}}"}' title="Delete">
					<span class="fa fa-times-circle fa-fw"></span>
				</a>
			</div>
		</div>
		<div class="big center">
			{{subProjectName}}
		</div>
		<p class="smaller center">
			Created on {{creationTimestamp}}
		</p>
		<div class="center">
			<a href="{{linkPrefix}}/dashboard/project/{{projectId}}/sub-project/{{subProjectId}}">
				view in detail <span class="fa fa-angle-right fa-fw"></span>
			</a>
		</div>
	</div>
</div>