<tr id="{{tmpId}}" class="block js-supp-file-uploading">
	<td class="inline-block col-4">
		<span class="fa fa-spinner fa-spin"></span> {{name}}
	</td><td class="inline-block col-4 center">
	</td><td class="inline-block col-4 align-right">
		<a href="#" class="error js-remove-supp-file">remove</a>
	</td>
</tr>