<td class="inline-block col-3">
	<a href="{{cLink}}">{{name}}</a>
</td><td class="inline-block col-4 center">
	{{type}}
</td><td class="inline-block col-4 center">
	Added on {{createdOn}}
</td><td class="inline-block col-1 align-right">
	<a href="#" class="error mdl-cfrm-del-fp-files" data-modal-subjective-data='{"_id":"{{id}}","name":"{{name}}"}'>remove</a>
</td>